.main-carousel .slide {
    text-align: center;
    background: none;

}

.main-carousel .slide img {
    max-width: 100%;
    max-height: 303px;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;

    padding: 25px;
}


.main-carousel .carousel-status {
    display: none;
}

.carousel-slide {
    position: relative;
}

.carousel-text {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 25px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    width: 20%;
}

.main-carousel {


    width: 100%;


}

.carousel-quote {
    position: absolute;
    left: 10px;
    top: 40px;
    color: white;
    font-size: 28px;
    width: 20%;
    font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px 2px black;
}

/* pour les écrans de tablettes */
@media (max-width: 768px) {
  .main-carousel .slide img {
    padding: 15px;
    max-height: 250px;  
  }

  .carousel-text {
    font-size: 22px;  
    width: 40%;  
  }

  .carousel-quote {
    font-size: 24px;  
    width: 40%;  
  }
}

/* pour les téléphones portables */
@media (max-width: 480px) {
  .main-carousel .slide img {
    padding: 10px;
    max-height: 200px;  
  }

  .carousel-text {
    font-size: 18px;  
    width: 60%; 
    bottom: 20px; 
  }

  .carousel-quote {
    font-size: 20px; 
    width: 60%; 
    top: 20px; 
  }
}
