#contact {
  background: linear-gradient(90deg, #558ba7, #020024 73%, #00d4ff);
  padding: 2em;
  color: white;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.contact-info {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.contact-info h3 {
  font-size: 36px;
  margin-bottom: 1em;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 1px 2px black;
  text-decoration: underline;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item a,
.contact-item span {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 26px;
}

.contact-item svg {
  color: inherit;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-form-container {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.contact-form-container h2 {
  color: #ffffff;
  margin-bottom: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  text-decoration: underline;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form textarea {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 1em;
}

form textarea {
  padding-top: 30px;
}

form button {
  background: #1079A1;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
}

form button:hover {
  background: #214CE4;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-info,
  .contact-form-container {
    flex-basis: 100%;
  }

  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: auto;
  }

  .contact-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #contact {
    padding: 1em;
  }

  .contact-form-container {
    margin-right: 0px;
  }

  .contact-info {
    margin-left: 0px;
  }

  .contact-form button {
    font-size: 16px;
  }

  .contact-info h3,
  .contact-item {
    font-size: 20px;
  }

  .contact-item a,
  .contact-item span {
    font-size: 18px;
  }

}