#contact {
  background: linear-gradient(90deg,#558ba7,#020024 73%,#00d4ff);
    padding: 2em;
    
  }
  
  #contact h2 {
    color: #ffffff;
    margin-bottom: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black; 
    text-align: center;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
    gap: 1em; 
    color: #ffffff;
    font-size: 18px; 
    text-shadow: 1px 1px 2px black; 
    
    align-items: center;
  }
  
  #contact form input,
  #contact form textarea {
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #ddd; 
    font-size: 16px; 
    font-family: 'Lato', sans-serif;
   
    width: 500px;
  }
  
  #contact form button {
    background: #1079A1;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;

  }
  
  #contact form button:hover {
    background: #214CE4;  
  }
  .contact-info {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    font-size: 26px;
  }
  
  .fa-phone, .fa-location-dot {
    padding-right: 10px;
  }

  /* pour les écrans de tablettes */
@media (max-width: 768px) {
  #contact {
    max-width: 600px;
    padding: 1.5em;
  }

  #contact form input,
  #contact form textarea,
  #contact form button {
    font-size: 14px; 
  }
}

/* pour les téléphones portables */
@media (max-width: 480px) {
  #contact {
    max-width: 100%; 
    margin: 20px;
    padding: 1em;
  }

  #contact form input,
  #contact form textarea {
    font-size: 12px; 
  }

  #contact form button {
    font-size: 16px; 
  }
}
