footer {
  background-color: #f8f9fa; 
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap; 
}

footer .footer-item, footer a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333; 
  font-size: 20px; 
  transition: color 0.3s ease; 
}

footer a:hover, footer .footer-item:hover {
  color: #0077b5; 
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.fa-envelope, .fa-linkedin, .fa-github, .fa-phone, .fa-map-marker-alt {
  font-size: inherit;
}

/* pour les écrans de tablettes */
@media (max-width: 768px) {
  footer {
    padding: 15px;
  }

  footer a, footer span {
    font-size: 18px; 
  }
}

/* pour les téléphones portables */
@media (max-width: 480px) {
  footer {
    padding: 10px;
  }

  footer a, footer span {
    font-size: 16px; 
    margin: 0 10px; 
  }

  
  .fa-envelope, .fa-linkedin, .fa-github, .fa-phone, .fa-map-marker-alt {
    font-size: 24px;
  }
}

