.Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
}

.Modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 5px 15px rgba(52, 152, 219, 0.5);
  border: 2px solid rgba(85, 139, 167, 1);
  max-height: 80vh;
  overflow-y: auto;
}

.Modal h2 {
  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 20px;
}

.Modal img {
  max-width: 100%;
  height: 130px;
  display: block;
  margin: 0 auto 20px;
  object-fit: contain;
  padding: 10px;
  background-color: white;
  border-radius: 15%;
}

.Modal ul {
  list-style-type: none;
  padding: 0;
  background-color: beige;
}

.Modal li {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: rgba(2, 0, 36, 1);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: rgba(85, 139, 167, 1);
}

.modal-close-button:hover {
  color: white;
  transform: scale(1.2);
}

/* CSS pour les écrans de tablettes */
@media (max-width: 768px) {
  .Modal {
    max-width: 400px;
    padding: 15px;
  }

  .Modal h2 {
    font-size: 1.6em;
  }

  .Modal img {
    height: 100px;
  }

  .Modal li {
    font-size: 1em;
  }

  .modal-close-button {
    font-size: 20px;
  }
}

/* CSS pour les téléphones portables */
@media (max-width: 480px) {
  .Modal {
    max-width: 90%;
    padding: 10px;
  }

  .Modal h2 {
    font-size: 1.4em;
  }

  .Modal img {
    height: 80px;
  }

  .Modal li {
    font-size: 0.9em;
  }

  .modal-close-button {
    font-size: 18px;
  }
}