#projects {
  background: linear-gradient(90deg, #558ba7, #020024 73%, #00d4ff);
  padding: 2em;
}

#projects h2 {
  text-align: center;
  margin-bottom: 2em;
  color: #ffffff;
  font-size: 36px;
  text-decoration: underline;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 1px 2px black;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.project-card {
  background: #11456C;
  border-radius: 7px;
  box-shadow: 0px 5px 15px rgba(52, 152, 219, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.project-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 8px 20px #214CE4;
}

.project-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.project-card h3,
.project-card p {
  margin: 5px 5px 5px 10px;
  color: #f0f0f0;
}

.project-card h3 {
  font-size: 26px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  background: #11456C;
}

.Modal {
  background: #11456C;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 5px 15px rgba(52, 152, 219, 0.5);
  border: 2px solid rgba(85, 139, 167, 1);
  max-height: 80vh;
  overflow-y: auto;
}

.carousel .thumbs-wrapper {
  background: #11456C;
  margin: 0px;
}

.modal button {
  margin-top: 20px;
}

.carousel .slide {
  background: #11456C;
  text-align: center;
}

.carousel .slide img {
  max-width: 100%;
  max-height: 400px;
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: 20px auto;
  padding-bottom: 30px;
}

.carousel-caption {
  position: absolute;
  bottom: 10px;
  right: 50px;
  font-size: 38px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.carousel .carousel-status {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background: #11456C;
  padding: 20px;
}

.carousel .control-arrow {
  opacity: 1 !important;
  background-color: #071639 !important;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* For smaller screens */
@media (max-width: 768px) {
  .modal-header {
    padding: 10px;
  }

  .modal-title-description h2 {
    font-size: 30px;
  }

  .project-skills img {
    margin: 5px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .modal-title-description h2 {
    font-size: 24px;
  }

  .project-skills img {
    height: 30px;
  }
}

.modal-title-description {
  flex: 1;
  color: #ffffff;
}

.modal-title-description h2 {
  display: flex;
  justify-content: center;
  font-size: 44px;
  text-decoration: underline;
  font-weight: bold;
}

.modal-title-description p {
  width: 70%;
  color: #ffffff;
  font-size: 20px;
  margin-left: 50px;
}

.project-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}

.project-skills img {
  height: 80px;
  width: auto;
  margin-bottom: 10px;
  padding: 20px;
}



.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  font-size: 38px;
  color: #ffffff;
  cursor: pointer;
  padding: 20px;
}

.close-button:hover {
  transform: scale(1.5);
}




.modal button {
  color: #ffffff !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #071639;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
}


.modal button:hover {
  color: #faf8f8 !important;
  border-radius: 50px;
  border-color: #faf8f8 !important;
  transition: all 0.3s ease 0s;
}

.skills-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  align-items: center;
}

.skill-filter-item {
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
  color: #ffffff;

}

.skill-filter-item img {
  height: 30px;
  width: auto;
  display: block;
}

.skill-filter-item:hover,
.skill-filter-item.active {
  font-weight: bold;
  opacity: 1;
}



/* CSS pour les écrans de tablettes */
@media (max-width: 768px) {
  #projects {
    padding: 1.5em;
  }

  #projects h2 {
    font-size: 32px;
  }

  .my-masonry-grid img {
    height: 250px;
  }

  .my-masonry-grid h3 {
    font-size: 1.2em;
  }

  .my-masonry-grid p {
    font-size: 0.9em;
  }

  .modal {
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
  }

  .modal-title-description p {
    width: 100%;
    font-size: 1em;
  }

  .project-skills img {
    height: 60px;
  }

  .carousel .slide img {
    max-height: 300px;
  }

  .carousel-caption {
    font-size: 28px;
    bottom: 20px;
    right: 30px;
  }

  .close-button {
    font-size: 30px;
  }

  .modal button {
    font-size: 14px;
  }

  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* CSS pour les téléphones portables */
@media (max-width: 480px) {
  .my-masonry-grid {
    margin-left: -15px;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .my-masonry-grid_column {
    padding-left: 15px;
  }

  .my-masonry-grid img {
    height: 200px;
  }

  .my-masonry-grid h3 {
    font-size: 1em;
  }

  .my-masonry-grid p {
    font-size: 0.8em;
  }

  .modal {
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
  }

  .modal-title-description p {
    font-size: 0.9em;
  }

  .project-skills img {
    height: 50px;
  }

  .carousel .slide img {
    max-height: 250px;
  }

  .carousel-caption {
    font-size: 24px;
  }

  .close-button {
    font-size: 26px;
  }

  .modal button {
    font-size: 12px;
  }
}